<div id="<%= dom_id mii2 %>">
  <p>
    <strong>Name:</strong>
    <%= mii2.name %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= mii2.lastname %>
  </p>

  <p>
    <strong>Nickname:</strong>
    <%= mii2.nickname %>
  </p>

  <p>
    <strong>Slogan:</strong>
    <%= mii2.slogan %>
  </p>

  <p>
    <strong>Image:</strong>
  </p>
  <%= image_tag mii2.image %>
  <p>
    <strong>Age:</strong>
    <%= mii2.age %>
  </p>

  <p>
    <strong>Keyword:</strong>
    <%= mii2.keyword %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= mii2.description %>
  </p>

</div>
