<p style="color: green"><%= notice %></p>

<%= render @mii2 %>

<div>
  <%= link_to "Edit this mii2", edit_mii2_path(@mii2) %> |
  <%= link_to "Back to mii2s", mii2s_path %>

  <%= button_to "Destroy this mii2", @mii2, method: :delete %>
</div>
