<div id="<%= dom_id mii %>">
  <p>
    <strong>Name:</strong>
    <%= mii.name %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= mii.lastname %>
  </p>

  <p>
    <strong>Nickname:</strong>
    <%= mii.nickname %>
  </p>

  <p>
    <strong>Slogan:</strong>
    <%= mii.slogan %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= mii.image %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= mii.age %>
  </p>

  <p>
    <strong>Keyword:</strong>
    <%= mii.keyword %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= mii.description %>
  </p>

</div>
